* text=auto !eol
/pom.xml -text
spring-boot-support/pom.xml -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/AppsDeployingTomcatEmbeddedServletContainerFactory.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/TomcatCustomizer.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/config/embedded/CatalinaConfiguration.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/config/embedded/CatalinaContext.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/config/embedded/CatalinaEnvironment.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/config/embedded/CatalinaManager.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/config/embedded/CatalinaNamingResource.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/config/embedded/CatalinaParameter.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/config/embedded/CatalinaResources.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/config/embedded/CatalinaServer.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/customizer/DefaultTomcatContextCustomizer.java -text svneol=unset#text/plain
spring-boot-support/src/main/java/org/onehippo/forge/hipshoot/spring/boot/support/util/EmbeddedTomcatUtils.java -text svneol=unset#text/plain
src/site/site.xml -text
src/site/xdoc/hipshoot-spring-boot-support/index.xml -text svneol=unset#text/plain
src/site/xdoc/hipshoot-spring-boot-support/install.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text
src/site/xdoc/release-notes.xml -text svneol=unset#text/plain
